# docker-compose.yml
version: '3.8'

services:
  db:
    image: postgres:16
    container_name: cashback-db
    environment:
      POSTGRES_DB: cashback
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: