# render.yaml
services:
  - type: web
    name: cashback-api
    env: go
    region: frankfurt        # или ближайший к тебе
    buildCommand: go build -o ./bin/api ./cmd/api
    startCommand: ./bin/api
    goVersion: "1.25.4"
    preDeployCommand: go run cmd/migrate/main.go  # ← запуск миграций ПЕРЕД стартом
    envVars:
      - key: JWT_SECRET
        generateValue: true   # Render сгенерирует безопасный секрет
      - key: TELEGRAM_BOT_TOKEN
        sync: false           # ты задашь его вручную

  - type: postgres
    name: cashback-db
    databaseName: cashback
    plan: free